.modal-content {
  border-radius: 10px;
  background-color: white;
  .inp1,
  .inp2 {
    height: 10vh;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 2%;
    width: 80%;
    margin: auto;

    &:focus-within {
      outline: none;
    }
  }

  button {
    width: 42%;
    text-align: center;
    margin: auto;
  }
  h5 {
    padding: 3% 0;
    margin: auto;
  }
}
