.modal-content {
  border-radius: 10px;

  .inp1,
  .inp2 {
    height: 10vh;
  }

  button {
    width: 30%;
    text-align: center;
    margin: auto;
  }
  h5 {
    padding: 3% 0;
    margin: auto;
  }
}
